PLATFORM_ACCESS_TOKEN=PASTE_PRIVATE_TOKEN_HERE
ASSET_API_BASE=PASTE_3D_ASSET_API_BASE_HERE
BASEMAP_TILE_URL=PASTE_BASEMAP_TILE_TEMPLATE_HERE
BASEMAP_CREDIT=PASTE_REQUIRED_ATTRIBUTION_HERE
FLOOD_DATASET_URL=PASTE_FLOOD_ENDPOINT_HERE
FIRE_DATASET_A_URL=PASTE_FIRE_ENDPOINT_A_HERE
FIRE_DATASET_B_URL=PASTE_FIRE_ENDPOINT_B_HERE
FIRE_DATASET_C_URL=PASTE_FIRE_ENDPOINT_C_HERE
FIRE_DATASET_D_URL=PASTE_FIRE_ENDPOINT_D_HERE
